<c-card class="mb-4">
  <c-card-header>
    Theme colors
  </c-card-header>
  <c-card-body>
    <c-row>
      <div class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tortor magna, sed blandit odio cursus nec. Nunc sit amet sollicitudin massa, vitae tincidunt metus. Curabitur faucibus ante non risus gravida, sed tempor purus pharetra. Vestibulum tempor vestibulum egestas. Mauris arcu ligula, fermentum id ipsum non, sodales egestas leo. Maecenas dolor nisi, tempor varius lorem ac, viverra vehicula enim. Vestibulum quis tempor leo. Ut risus nunc, pellentesque non quam vitae, convallis dapibus erat. Integer egestas tempor lorem, at aliquam arcu tempus at. Sed malesuada nisl quis sodales dapibus. Phasellus felis eros, posuere sed pretium in, posuere eget quam. Ut sagittis eros eget efficitur finibus. Suspendisse potenti. Curabitur dapibus, tellus sit amet suscipit semper, quam justo suscipit eros, tincidunt accumsan est ipsum volutpat diam.
        </p>
        <p>
          Praesent in nunc condimentum arcu faucibus venenatis. Donec faucibus sit amet ante nec pulvinar. Aenean imperdiet tempus vehicula. Praesent elementum, tellus sit amet tincidunt congue, odio metus euismod est, vel ullamcorper ante sapien ut massa. Nulla ac metus mollis, rutrum turpis ut, euismod nibh. Mauris mollis viverra lacinia. Donec efficitur diam nec pharetra molestie. Nulla vitae malesuada mi. Sed blandit, erat quis fringilla feugiat, diam sem lobortis leo, sed ornare mi elit in ante. Cras quis nisl nisl. Cras hendrerit sem et lorem euismod, vitae consectetur tortor gravida.
        </p>
        <p>
          Quisque facilisis commodo nisi ac dictum. Nullam porta faucibus ex. Mauris a enim vitae nunc pharetra facilisis eget at neque. Nullam at pellentesque nisl, in porttitor urna. Praesent suscipit augue nec blandit scelerisque. Sed at nulla est. Pellentesque sollicitudin tortor sit amet neque semper interdum. Phasellus vitae ante enim. Quisque mattis tristique diam vestibulum condimentum. In hac habitasse platea dictumst. Sed fermentum accumsan quam, vitae aliquet lacus feugiat a. Vestibulum aliquam ex non tellus euismod, eget scelerisque magna aliquam. Nullam elementum dui pharetra, facilisis massa et, pellentesque risus.
        </p>
        <p>
          Duis varius erat vel est volutpat iaculis. Nam sed ante venenatis, tincidunt erat id, iaculis dolor. Nunc accumsan, lectus ac gravida vestibulum, sapien dui lacinia erat, ut feugiat turpis diam et justo. Quisque bibendum nibh vitae lectus consectetur, vel semper enim molestie. Sed sit amet ex interdum, sollicitudin velit et, vestibulum mi. Fusce eleifend mauris at enim condimentum consequat mollis a dolor. Suspendisse in augue quis dolor iaculis sagittis. Vestibulum sed bibendum nisi, non sollicitudin mauris. Proin ac posuere orci, placerat finibus eros. Donec sed porttitor arcu. Nam vel condimentum ex. Aenean facilisis pellentesque dui et luctus. Nullam dapibus leo id tristique volutpat. In urna augue, feugiat vel risus et, tincidunt mattis sem. Praesent lobortis enim ut nisl molestie, et porttitor erat porta. Sed euismod tincidunt neque in interdum.
        </p>
        <p>
          In hac habitasse platea dictumst. Donec vitae aliquam risus. Donec at metus non nisl lacinia mattis. Nulla lacus nibh, convallis tristique libero nec, iaculis sollicitudin mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in ultricies lorem. Sed sed mauris eget nisl laoreet dignissim. Donec sed turpis placerat, dignissim erat vel, auctor libero.
        </p>
      </div>
    </c-row>
  </c-card-body>
</c-card>
